.find-users{
  background-color: #f2f7ff;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
  box-sizing: border-box;
  overscroll-behavior-x: none;
}

.main-content{
  display: flex;
  width: 100%;
  margin: 0;
  margin-top: 10px;
  padding: 10px;
  flex:1;
}
.main-content>* {
  min-width: 0;
}